#main-menu {
  display: none;
}

#banner-text {
  fill: white;
  font-size: 40;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
  y: 12;
}

#location {
  y: 101;
}

#favourite {
  y: 178;
}

#loading-text {
  display: inline;
  fill: white;
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
}

#panoramaview {
  display: inline;
}

#metar-title {
  fill: lightskyblue;
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 500;
}

#metar-info {
  fill: white;
  font-size: 25;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 500;
}

#metar-translate {
  fill: white;
  font-size: 25;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 600;
}

#metar-remarks {
  fill: white;
  font-size: 25;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 600;
}