#main-menu {
  display: none;
}

#banner-text {
  fill: white;
  font-size: 40;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
  y: 12;
}

#location {
  y: 101;
}

#favourite {
  y: 178;
}

#station-list {
  display: none;
}

#station-text {
  fill: white;
  x: 5%;
  font-size: 32;
  text-length: 10;
}

.station-flag {
  display: none;
}

#info-tile-text {
  fill: deepskyblue;
  x: 5%;
  font-size: 25;
  text-length: 50;
}

.tile-divider-bottom {
  x: 0;
  y: 100%-1;
  width: 100%;
  height: 1;
  fill: #696969;
}

#loading-text {
  display: inline;
  fill: white;
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
}

#panoramaview {
  display: inline;
}

#metar-title {
  fill: lightskyblue;
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 500;
}

#metar-info {
  fill: white;
  font-size: 25;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 500;
}

#virtual-title {
  fill: white;
  font-size: 25;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 600;
}

#virtual-text {
  fill: white;
  font-size: 25;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 600;
}

#metar-remarks {
  fill: white;
  font-size: 25;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 600;
}